@page "/admin/posts/delete/{postId:int}"
@model Areas.Admin.Pages.Posts.DeleteModel
@{
    ViewData["Title"] = "Delete Post?";
}

<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
    <div class="container-fluid px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-3">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list"><line x1="8" y1="6" x2="21" y2="6"></line><line x1="8" y1="12" x2="21" y2="12"></line><line x1="8" y1="18" x2="21" y2="18"></line><line x1="3" y1="6" x2="3.01" y2="6"></line><line x1="3" y1="12" x2="3.01" y2="12"></line><line x1="3" y1="18" x2="3.01" y2="18"></line></svg></div>
                        @ViewData["Title"]
                    </h1>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container-fluid px-4">
    <div class="alert alert-red alert-solid alert-icon" role="alert">
        <div class="alert-icon-aside">
            <i class="far fa-flag"></i>
        </div>
        <div class="alert-icon-content">
            <h3 class="alert-heading">Attention!</h3>
            Are you sure delete this post?
        </div>
    </div>
    <br />
    <p>Title: <b>@Model.Post.Title</b></p>
    <p>Summary: <b>@Model.Post.Summary</b></p>
    <br />
    <form class="form-vertical" method="post">
        <div class="form-actions">
            <button type="submit" class="btn btn-danger">Delete</button>
            <a asp-area="Admin" asp-page="/Posts/Index" class="btn btn-dark">Cancel</a>
        </div>
    </form>
</div>