@page "/admin/posts"
@model Areas.Admin.Pages.Posts.IndexModel
@{
    ViewData["Title"] = "Posts";
    ViewData["Menu.Posts"] = true;
}

<!-- Page Heading -->
<h1 class="h3 mb-4 text-gray-800">@ViewData["Title"]</h1>

<p>
    <a asp-area="Admin" asp-page="/Posts/Add" class="btn btn-primary">Add New Post</a>
</p>

<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table id="posts-table"
                   data-ajax-source="@Url.Page("/Posts/Index", "Datatable")"
                   class="table table-striped table-bordered table-hover"></table>
        </div>
    </div>
</div>

@section Css {
    <!-- Custom styles for this page -->
    <link href="~/admin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
}

@section Scripts {
    <!-- Page level plugins -->
    <script src="~/admin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/admin/js/pages/admin.posts.index.js" asp-append-version="true"></script>
}