@model AspNet.Blog.Web.Models.ViewModel.PostDetailsViewModel

@if (User.Identity.IsAuthenticated)
{
    <div class="float-end">
        <a asp-area="Admin" asp-page="/Posts/Edit" asp-route-postid="@Model.PostId" class="btn btn-success"><strong>Edit</strong></a>
        <a asp-area="Admin" asp-page="/Posts/Delete" asp-route-postid="@Model.PostId" class="btn btn-danger"><strong>Delete</strong></a>
    </div>
}