@model DetailsModel

<div id="modal-comment" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add Comment</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form-add-comment" asp-page-handler="AddComment" role="form" method="post">
                    <input type="hidden" name="PostId" value="@Model.Post.PostId" />
                    <div class="mb-3">
                        <label for="InputName" asp-for="CommentForm!.Author">Name</label>
                        <input type="text" class="form-control" asp-for="CommentForm!.Author" id="InputName" name="Author" placeholder="Enter your name">
                        <span asp-validation-for="CommentForm!.Author" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label for="inputMessage" asp-for="CommentForm!.Content">Message</label>
                        <textarea class="form-control" asp-for="CommentForm!.Content" rows="5" id="inputMessage" name="Content" placeholder="Type your message"></textarea>
                        <span asp-validation-for="CommentForm!.Content" class="text-danger"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-action="add-comment">Send</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>