@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

@section Tagline {
    <!-- Page header with logo and tagline-->
    <header class="py-5 bg-light border-bottom mb-4">
        <div class="container">
            <div class="text-center my-5">
                <h1 class="text-danger">Error.</h1>
                <p class="lead mb-0">An error occurred while processing your request.</p>
            </div>
        </div>
    </header>
}

<div class="row">
    @if (Model.ShowRequestId)
    {
        <p>
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
    }
    @if (Model.ExceptionMessage != null)
    {
        <p>
            <strong>Exception Message:</strong> <code>@Model.ExceptionMessage</code>
        </p>
    }
</div>


