<nav class="sidenav shadow-right sidenav-light">
    <div class="sidenav-menu">
        <div class="nav accordion" id="accordionSidenav">
            <div class="sidenav-menu-heading">General</div>
            <a class="nav-link @ViewData["Sidebar.Dashboard"]" asp-area="Admin" asp-page="/Dashboard">
                <div class="nav-link-icon"><i data-feather="activity"></i></div>
                Dashboards
            </a>
            <div class="sidenav-menu-heading">CMS</div>
            <a class="nav-link @ViewData["Sidebar.Posts"]" asp-area="Admin" asp-page="/Posts/Index">
                <div class="nav-link-icon"><i data-feather="file-text"></i></div>
                Posts
            </a>
        </div>
    </div>
    <!-- Sidenav Footer-->
    <div class="sidenav-footer">
        <div class="sidenav-footer-content">
            <div class="sidenav-footer-subtitle">Logged in as:</div>
            <div class="sidenav-footer-title">@User?.Identity?.Name</div>
        </div>
    </div>
</nav>